*{
    margin: 0;
}
.navbar{
    display:flex;
    justify-content: space-between; 
    height: 10vh;
    background-color: rgb(18, 14, 14);

}
.left ul,.right ul{
    display: inline-flex;
    gap:3rem;
    list-style-type: none;
    margin-top: 10px;
    font-size: 20px;
    color:bisque;
    
}

.left ul:hover,.right ul:hover{
    cursor: pointer;
}
.left ul li,.right ul li
{
    padding: 10px;
}
.left ul li:hover,.right ul li:hover
{
    background-color: bisque;
    color:black;
}